.info-box
	@media desktop
		margin-bottom 80px
	@media tablet
		margin-bottom: 60px
	@media phone
		margin-bottom: 40px
	&__links-wrap
		margin-bottom 10px

	&__wrap
		@media desktop
			display flex
			margin 0 -20px
		@media sm
			display flex
			margin 0 -20px
	&__image
		box-shadow 0 12px 40px 10px rgba(3, 3, 3, 0.11)
		@media desktop
			width 50%
			margin  0 20px
		@media sm
			width 50%
			margin  0 20px
		@media phone_tablet
			margin-bottom 30px
		&-i
			width 100%
	&__link
		display inline-block
		color linkColor
		text-decoration none
		border-bottom 4px solid
		transition border-color .2s ease-in-out
		border-color transparent
		font-weight: 700
		line-height 1.3
		&:first-child
			margin-right 15px
		&:hover
			border-color linkColor
	&__list
		list-style none
		padding: 0
		margin: 0 0 25px 0
		&-item
			padding-left 30px
			position: relative
			margin-bottom 15px
			&:before
				content ""
				width: 14px
				height: 14px
				background-color linkColor
				border-radius 50%
				position: absolute
				top 13px
				left 0
