extends root


block root
	- headerClasses = []
	if headerMod
		- headerClasses.push(headerMod)
	.container
		+b("header").header(class=headerClasses): +i({
			menu: mainMenu,
			showMenu: true})



	main.main
		block main
			!= content

	+b.footer#contacts: +i({
		title: "Let’s connect!"
	})


block fonts
	link(href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,900&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet")


block styles
	//link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet")
	//link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")

block scripts
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js")
	//script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")



block analytics


