+e.bg
	+e.bg-el._1
		+e.bg-image.layer(data-depth="0.2")
	+e.bg-el._2
		+e.bg-image.layer(data-depth="0.15")
+e("h2").title!= title
+e.content
	+e("a").link(href="mailto:tania.korab@gmail.com") tania.korab@gmail.com
	+e.separator or
	+e("a").link(href="/" target="_blank") linkedin