.design-box-ua
	display: block
	&__label
		font-size 30px
		font-weight 600
		font-family titleFont
		margin-bottom 25px
	&__colors
		display flex
		&-item
			margin-right 20px
		&-label
			width 100px
			height 100px
			background-color #F2E5DE
			margin-bottom 20px
			&_bordo
				background-color #A3324F
			&_beige
				background-color #DAC6BB
			&_gray
				background-color #ADADAD
		&-title
			font-size 20px
	&__image
		margin-bottom 40px
		&-i
			width 100%
	&__photo
		&-wrap
			display flex
			flex-wrap nowrap
			margin 0 -20px 40px -20px
		&-image
			padding 0 20px
			&_1
				width 60%
			&_2
				width 40%
			&-i
				background-size cover
				//background-position center
				@media desktop
					min-height 410px
				@media phone_tablet
					min-height: 260px
				&_1
					background-image url('/assets/i/ua-2.jpg')
				&_2
					background-image url('/assets/i/ua-4.jpg')
				&_3
					background-image url('/assets/i/ua-6.jpg')
				&_4
					background-image url('/assets/i/ua-3.jpg')
	&__section
		margin-bottom 80px

