if title
	+e("h2").title!=title
+e.section
	+e.label 01. Colors
	+e.colors
		+e.colors-item
			+e.colors-label
			+e.colors-title #F2E5DE
		+e.colors-item
			+e.colors-label._bordo
			+e.colors-title #A3324F
		+e.colors-item
			+e.colors-label._beige
			+e.colors-title #DAC6BB
		+e.colors-item
			+e.colors-label._gray
			+e.colors-title #ADADAD
+e.section
	+e.label 02.Typography
	p Primary colors for the site were taken from the company logo.
	+e.image
		+e("img").image-i(src="assets/i/typo-jomo.jpg" alt="")
+e.section
	+e.label 03. Final result - screenshots
	+e.image
		+e("img").image-i(src="assets/i/jomo-2.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/jomo-3.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/jomo-4.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/jomo-5.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/jomo-6.jpg" alt="")