.works
	&__content
		display flex
		flex-wrap wrap
		@media desktop
			margin 0 -20px
	&__item
		display block
		text-decoration none
		@media desktop
			width 50%
			padding 40px 20px
		@media phone_tablet
			padding 20px
		@media phone_tablet
			width: 100%
		@media phone
			padding 10px 20px
		&-wrap
			width 100%
			background-color #fff
			box-shadow 0 12px 40px 10px rgba(3, 3, 3, 0.11)
			transition box-shadow .2s ease-in-out
			//display: flex
			//justify-content space-between
			//align-items flex-end
			@media tablet_desktop
				padding 25px
			@media phone
				padding 5px
			&:hover
				box-shadow 0 12px 40px 10px rgba(3, 3, 3, 0.25)
				.works__item-link
					border-color linkColor
		&-image
			@media tablet_desktop
				margin-bottom 10px
			@media phone
				margin-bottom: 5px
			&-i
				width 100%
		&-scope
			font-weight 600
			font-family titleFont
			letter-spacing 1pt
			color siteColor
			//font-size 26px
		&-name
			font-size 22px
			color #7c7c7c
			font-weight 400
			margin-bottom 5px
			@media phone
				font-size 18px
		&-info
			color #292a2c
			font-weight 300
			@media tablet_desktop
				font-size 16px
			@media phone
				font-size 14px
		&-link
			font-size 18px
			font-family titleFont
			color linkColor
			font-weight 600
			border-bottom 2px solid
			border-color transparent
			transition border-color .2s ease-in-out
		&-box
			display flex
			justify-content space-between
			align-items flex-end