//---
	layout: layouts/works

//---

.container
	+b.company: +i({
		title: "Oleksienko",
		text: "Front-end for Ukrainian Architectural design studio "
	})
	.box
		+b.info-box: +i({
			title: "Problem",
			text: "Architecture design studio Oleksienko had only not responsive desktop version of the website & needed to update site for tablet mobile devices."
		})
		+b.info-box: +i({
			title: "Tools",
			text: "I created a separate new mobile version. To scroll from one section to another, I used FullPage.js plugin. To animate the preloader and animation on the pages and between the pages was used plugin GreenSock.js. Html5, SCSS, jQuery were also used."
		})
		+b.design-box-oleksienko: +i({
			title: "Final result - screenshots"
		})
		+b.link-box: +i({
			linkLabel: "Visit site",
			linkUrl: "https://marvelapp.com/44h3270/screen/45993289"
		})
